<div class="sheet">
  <h1 class="sheet__title"></h1>
  <h2 class="sheet__subTitle"></h2>
</div>

<script>

</script>

<style>
  .sheet {
    width: 824px;
    height: 1170px;
    background: #fff;
  }
</style>


