<form>
    <input 
      class="title"
      type="text" 
      placeholder="title"
    >
    <input 
      class="subTitle"
      type="text" 
      placeholder="title"
    >
</form>


<script>
  
  $('input').each((i, el) => {

    $(el).on('focus', (e) => {
      e.target.style.background = 'red';
    })

    $(el).on('focusout', (e) => {
      $(e.target).css('background', 'inherit')
    })

    $('.title').on('input', (e) => {
      $('.sheet__title').text(e.target.value)
    })

    $('.subTitle').on('input', (e) => {
      $('.sheet__subTitle').text(e.target.value)
    })

  })

  // const allInput = document.querySelectorAll('input');
  // console.log(allInput)
  // allInput.forEach(input => {
  //   input.addEventListener('focus', (e) => {
  //     e.target.style.background = 'red';
  //   });
  //   input.addEventListener('focusout', (e) => {
  //     e.target.style.background = 'inherit';
  //   })
  // })


</script>